bin
.cache
include/TypedLambda.def
include/TypedLambda-parenthesize.str
include/TypedLambda-Permissive.def
include/TypedLambda.generated.pp.af
include/TypedLambda.packed.esv
include/TypedLambda.pp.af
include/TypedLambda.rtg
include/TypedLambda.str
include/TypedLambda.tbl
include/typedlambda.rtree
include/typedlambda.ctree
include/typedlambda.ctree.dep
include/typedlambda.jar
include/typedlambda-java.jar
editor/java/trans
editor/*.generated.*
syntax/TypedLambda*.generated.esv
syntax/TypedLambda.generated.pp
syntax/*.sdf
trans/*.pp.generated.str
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
*.aterm
/include
